final_project4/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FInalProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FInalProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearBorn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="LevelStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LevelId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCoins" type="xs:int" />
      <xs:element minOccurs="0" name="TimeClicked" type="xs:int" />
      <xs:element minOccurs="0" name="TimePassed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LevelStats" nillable="true" type="tns:LevelStats" />
  <xs:complexType name="ArrayOfLevelStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LevelStats" nillable="true" type="tns:LevelStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLevelStats" nillable="true" type="tns:ArrayOfLevelStats" />
</xs:schema>