final_project4/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FInalProject.classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FInalProject.classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FInalProject" />
  <xs:complexType name="ArrayOfUserAndLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAndLevel" nillable="true" type="tns:UserAndLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAndLevel" nillable="true" type="tns:ArrayOfUserAndLevel" />
  <xs:complexType name="UserAndLevel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FInalProject" minOccurs="0" name="LevelStats" nillable="true" type="q1:LevelStats" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FInalProject" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAndLevel" nillable="true" type="tns:UserAndLevel" />
</xs:schema>