final_project4/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FInalProject" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FInalProject.classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_HasUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:HasUsername" />
  </wsdl:message>
  <wsdl:message name="IService1_HasUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IService1_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStats_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStats" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStats" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsPerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsPerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsPerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsPerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsByLevelId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsByLevelId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLevelStatsByLevelId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelStatsByLevelIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvgScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvgScore" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvgScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvgScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="HasUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HasUsername" message="tns:IService1_HasUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HasUsernameResponse" message="tns:IService1_HasUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindUser" message="tns:IService1_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindUserResponse" message="tns:IService1_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidateUser" message="tns:IService1_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidateUserResponse" message="tns:IService1_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStats" message="tns:IService1_AddStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStatsResponse" message="tns:IService1_AddStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLevelStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLevelStats" message="tns:IService1_GetLevelStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLevelStatsResponse" message="tns:IService1_GetLevelStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsPerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLevelStatsPerUser" message="tns:IService1_GetLevelStatsPerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLevelStatsPerUserResponse" message="tns:IService1_GetLevelStatsPerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLevelStatsById" message="tns:IService1_GetLevelStatsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLevelStatsByIdResponse" message="tns:IService1_GetLevelStatsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsByLevelId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLevelStatsByLevelId" message="tns:IService1_GetLevelStatsByLevelId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLevelStatsByLevelIdResponse" message="tns:IService1_GetLevelStatsByLevelId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvgScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAvgScore" message="tns:IService1_GetAvgScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAvgScoreResponse" message="tns:IService1_GetAvgScore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasUsername">
      <soap:operation soapAction="http://tempuri.org/IService1/HasUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IService1/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStats">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLevelStats">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLevelStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsPerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLevelStatsPerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLevelStatsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLevelStatsByLevelId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLevelStatsByLevelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgScore">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAvgScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FInalProject/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>